@import "tailwindcss";
@import "@heroui/styles";

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  --accent: oklch(67.59% 0.1886 42.04);
  --accent-foreground: oklch(0.9911 0 0);
  --background: oklch(97.02% 0 42.04);
  --border: oklch(90% 0 42.04);
  --danger: oklch(65.32% 0.2328 0.33);
  --danger-foreground: oklch(0.9911 0 0);
  --default: oklch(94% 0 42.04);
  --default-foreground: oklch(21.03% 0.0059 42.04);
  --field-background: oklch(100% 0 42.04);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0 42.04);
  --field-placeholder: oklch(55.17% 0 42.04);
  --focus: oklch(67.59% 0.1886 42.04);
  --foreground: oklch(21.03% 0 42.04);
  --muted: oklch(55.17% 0 42.04);
  --overlay: oklch(100% 0 42.04);
  --overlay-foreground: oklch(21.03% 0 42.04);
  --scrollbar: oklch(87.1% 0 42.04);
  --segment: oklch(100% 0 42.04);
  --segment-foreground: oklch(21.03% 0 42.04);
  --separator: oklch(92% 0 42.04);
  --success: oklch(73.29% 0.1935 125.4);
  --success-foreground: oklch(0.9911 0 0);
  --surface: oklch(100% 0 42.04);
  --surface-foreground: oklch(21.03% 0 42.04);
  --surface-secondary: oklch(95.24% 0 42.04);
  --surface-secondary-foreground: oklch(21.03% 0 42.04);
  --surface-tertiary: oklch(93.73% 0 42.04);
  --surface-tertiary-foreground: oklch(21.03% 0 42.04);
  --warning: oklch(78.19% 0.1585 46.92);
  --warning-foreground: oklch(0.9911 0 0);
  --radius: 0.25rem;
  --field-radius: 0.75rem;
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  --accent: oklch(67.59% 0.1886 42.04);
  --accent-foreground: oklch(0.9911 0 0);
  --background: oklch(12% 0 42.04);
  --border: oklch(28% 0 42.04);
  --danger: oklch(59.4% 0.1967 359.22);
  --danger-foreground: oklch(0.9911 0 0);
  --default: oklch(27.4% 0 42.04);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0 42.04);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0 42.04);
  --field-placeholder: oklch(70.5% 0 42.04);
  --focus: oklch(67.59% 0.1886 42.04);
  --foreground: oklch(99.11% 0 42.04);
  --muted: oklch(70.5% 0 42.04);
  --overlay: oklch(21.03% 0 42.04);
  --overlay-foreground: oklch(99.11% 0 42.04);
  --scrollbar: oklch(70.5% 0 42.04);
  --segment: oklch(39.64% 0 42.04);
  --segment-foreground: oklch(99.11% 0 42.04);
  --separator: oklch(25% 0 42.04);
  --success: oklch(73.29% 0.1935 125.4);
  --success-foreground: oklch(0.9911 0 0);
  --surface: oklch(21.03% 0 42.04);
  --surface-foreground: oklch(99.11% 0 42.04);
  --surface-secondary: oklch(25.7% 0 42.04);
  --surface-secondary-foreground: oklch(99.11% 0 42.04);
  --surface-tertiary: oklch(27.21% 0 42.04);
  --surface-tertiary-foreground: oklch(99.11% 0 42.04);
  --warning: oklch(82.03% 0.1388 50.93);
  --warning-foreground: oklch(0.9911 0 0);
}
